body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 200px;
    padding: 15px;
    flex: 1;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 20px;
}

.tabs :hover {
    background-color: #000000;
    color: #ffffff;
}

.tab-button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    
}

.tab-button.active {
    background-color: #da1616;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    background-color: aqua;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}
